.intro-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-panel {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: white;
  z-index: 1;
}

.intro-panel-top {
  top: 0;
}

.intro-panel-bottom {
  bottom: 0;
}

.intro-title {
  font-family: "narmMC-Regular", sans-serif;
  font-size: 8vw;
  color: #000000;
  margin: 0;
  line-height: 1;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .intro-title {
    font-size: 13vw;
  }
}

@media screen and (max-width: 768px) {
  .intro-title {
    font-size: 14vw;
  }
}
